<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">Editing Website</h4>
				</div>
				<div class="content">
					<%= render 'form' %>
				</div>
				<%= link_to 'Show', @website %> |
				<%= link_to 'Back', websites_path %>
			</div>
		</div>	
	</div>	
</div>


